/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
/* line 3, ../sass/partials/_reset.sass */
html, body, div, span, applet, object, iframe, h1, #connect #header-wrapper h2, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 20, ../sass/partials/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 24, ../sass/partials/_reset.sass */
body {
  line-height: 1;
}

/* line 27, ../sass/partials/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 30, ../sass/partials/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 33, ../sass/partials/_reset.sass */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* line 37, ../sass/partials/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/partials/_base.sass */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_base.sass */
a {
  text-decoration: none;
}
/* line 6, ../sass/partials/_base.sass */
a:hover {
  text-decoration: none;
}

/* line 9, ../sass/partials/_base.sass */
.bg {
  background: url(../images/home.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.85;
}

/* line 19, ../sass/partials/_base.sass */
#connect #header-wrapper {
  position: relative;
  top: 182px;
  left: 10%;
  display: inline-block;
}
/* line 24, ../sass/partials/_base.sass */
#connect #header-wrapper h1, #connect #header-wrapper h2 {
  position: relative;
  bottom: 10px;
  color: #321a13;
  font-size: 2.2em;
}
/* line 29, ../sass/partials/_base.sass */
#connect #header-wrapper h2 {
  font-size: 1.5em;
  text-align: center;
  top: 3px;
}
/* line 35, ../sass/partials/_base.sass */
#connect #header-wrapper a[title="Connect"] {
  position: relative;
  top: 45px;
  background-color: #321a13;
  color: #fdfefc;
  padding: 6px 69px;
  border-radius: 30px;
  font-size: 1.4em;
}
/* line 43, ../sass/partials/_base.sass */
#connect #header-wrapper a[title="Connect"]:hover {
  background-color: rgba(138, 18, 27, 0.92);
}

/* line 47, ../sass/partials/_base.sass */
#navbar-wrapper, #navbar-wrapper #navbar {
  height: 55px;
  width: 100%;
}
/* line 50, ../sass/partials/_base.sass */
#navbar-wrapper #navbar {
  background-color: #321a13;
}
/* line 53, ../sass/partials/_base.sass */
#navbar-wrapper #navbar li {
  display: inline-block;
}
/* line 55, ../sass/partials/_base.sass */
#navbar-wrapper #navbar li:hover {
  box-shadow: 0px 0px 10px 1px rgba(138, 18, 27, 0.92);
  cursor: pointer;
}
/* line 58, ../sass/partials/_base.sass */
#navbar-wrapper #navbar li a {
  color: #fdfefc;
}
/* line 60, ../sass/partials/_base.sass */
#navbar-wrapper #navbar ul#left-side {
  float: left;
  width: 60%;
}
/* line 63, ../sass/partials/_base.sass */
#navbar-wrapper #navbar ul#left-side li {
  float: left;
  margin-left: 10%;
  padding: 19.5px 3%;
  font-size: 1.03em;
}
/* line 68, ../sass/partials/_base.sass */
#navbar-wrapper #navbar ul#right-side {
  float: right;
  width: 40%;
}
/* line 71, ../sass/partials/_base.sass */
#navbar-wrapper #navbar ul#right-side li {
  float: right;
  margin-right: 13%;
  padding: 19.5px 3%;
  font-size: 1.03em;
}

/* line 77, ../sass/partials/_base.sass */
span.wallet-name {
  position: relative;
  display: inline-block;
  margin: 10px 0% 2px 0.5%;
  background-color: #8e1e1e;
  padding: 5px 26px;
  border-radius: 3px;
}
/* line 84, ../sass/partials/_base.sass */
span.wallet-name:hover {
  background-color: rgba(138, 18, 27, 0.92);
}
/* line 86, ../sass/partials/_base.sass */
span.wallet-name a {
  font-size: 1.03em;
  color: rgba(255, 255, 255, 0.93);
}
