/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
/* line 3, ../sass/partials/_reset.sass */
html, body, div, span, applet, object, iframe, h1, #register .header-wrapper h2,
#login .header-wrapper h2, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 20, ../sass/partials/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 24, ../sass/partials/_reset.sass */
body {
  line-height: 1;
}

/* line 27, ../sass/partials/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 30, ../sass/partials/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 33, ../sass/partials/_reset.sass */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* line 37, ../sass/partials/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/partials/_base.sass */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_base.sass */
a {
  text-decoration: none;
}
/* line 6, ../sass/partials/_base.sass */
a:hover {
  text-decoration: none;
}

/* line 9, ../sass/partials/_base.sass */
.bg {
  background: url(../images/home.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.85;
}

/* line 20, ../sass/partials/_base.sass */
#register .header-wrapper,
#login .header-wrapper {
  position: relative;
  top: 182px;
  left: 10%;
  display: inline-block;
}
/* line 25, ../sass/partials/_base.sass */
#register .header-wrapper h1, #register .header-wrapper h2,
#login .header-wrapper h1,
#login .header-wrapper h2 {
  position: relative;
  bottom: 10px;
  color: #321a13;
  font-size: 2.2em;
}
/* line 30, ../sass/partials/_base.sass */
#register .header-wrapper h2,
#login .header-wrapper h2 {
  font-size: 1.5em;
  text-align: center;
  top: 3px;
}
/* line 35, ../sass/partials/_base.sass */
#register form,
#login form {
  position: relative;
  top: 216px;
  left: 10%;
  border: 1px solid #bbc0bb;
  background-color: rgba(234, 227, 198, 0.8);
  width: 351px;
  height: 318px;
  text-align: center;
  box-shadow: 0px 2px 17px 0px rgba(186, 171, 171, 0.54);
}
/* line 45, ../sass/partials/_base.sass */
#register form h3,
#login form h3 {
  font-size: 1.3em;
  position: relative;
  top: 10px;
  margin: 6px 0px;
}
/* line 50, ../sass/partials/_base.sass */
#register form input,
#login form input {
  display: block;
  margin: 25px 54px;
  border: 1px solid #fefdfe;
  border-radius: 1px;
  height: 33px;
  text-align: center;
}
/* line 57, ../sass/partials/_base.sass */
#register form input[name="auth"],
#login form input[name="auth"] {
  position: relative;
  top: 10px;
  width: 245px;
  height: 32px;
  border: 0px;
  background-color: rgba(68, 39, 32, 0.92);
  color: white;
}
/* line 65, ../sass/partials/_base.sass */
#register form input[name="auth"]:hover,
#login form input[name="auth"]:hover {
  background-color: rgba(138, 18, 27, 0.92);
  cursor: pointer;
}

/* line 70, ../sass/partials/_base.sass */
#navbar-wrapper, #navbar-wrapper #navbar {
  height: 55px;
  width: 100%;
}
/* line 73, ../sass/partials/_base.sass */
#navbar-wrapper #navbar {
  background-color: rgba(11, 5, 1, 0.83);
}
/* line 76, ../sass/partials/_base.sass */
#navbar-wrapper #navbar li {
  display: inline-block;
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
/* line 79, ../sass/partials/_base.sass */
#navbar-wrapper #navbar li:hover {
  box-shadow: inset 0px -2px 31px 17px rgba(138, 18, 27, 0.92);
  cursor: pointer;
}
/* line 82, ../sass/partials/_base.sass */
#navbar-wrapper #navbar li a {
  color: rgba(253, 254, 252, 0.91);
}
/* line 84, ../sass/partials/_base.sass */
#navbar-wrapper #navbar ul#left-nav {
  float: left;
  width: 60%;
}
/* line 87, ../sass/partials/_base.sass */
#navbar-wrapper #navbar ul#left-nav li {
  float: left;
  margin-left: 10%;
  padding: 19.5px 3%;
  font-size: 1.03em;
}
/* line 92, ../sass/partials/_base.sass */
#navbar-wrapper #navbar ul#right-nav {
  float: right;
  width: 40%;
}
/* line 95, ../sass/partials/_base.sass */
#navbar-wrapper #navbar ul#right-nav li {
  float: right;
  margin-right: 13%;
  padding: 19.5px 3%;
  font-size: 1.03em;
}

/* line 101, ../sass/partials/_base.sass */
span.wallet-name {
  position: relative;
  display: inline-block;
  margin: 10px 0% 2px 0.5%;
  background-color: #8e1e1e;
  padding: 5px 26px;
  border-radius: 3px;
}
/* line 108, ../sass/partials/_base.sass */
span.wallet-name:hover {
  background-color: rgba(138, 18, 27, 0.92);
}
/* line 110, ../sass/partials/_base.sass */
span.wallet-name a {
  font-size: 1.03em;
  color: rgba(255, 255, 255, 0.93);
}

/* line 115, ../sass/partials/_base.sass */
#profile-wrapper {
  color: white;
}
/* line 117, ../sass/partials/_base.sass */
#profile-wrapper #left-side {
  position: fixed;
  float: left;
  clear: right;
  width: 30%;
  height: 100%;
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.66);
  background-color: rgba(75, 34, 33, 0.93);
}
/* line 125, ../sass/partials/_base.sass */
#profile-wrapper #left-side #user-info-wrapper {
  position: relative;
  height: 206px;
}
/* line 128, ../sass/partials/_base.sass */
#profile-wrapper #left-side #user-info-wrapper #sidebar-left {
  float: left;
  width: 50%;
  position: relative;
  top: 29px;
  left: 8%;
}
/* line 134, ../sass/partials/_base.sass */
#profile-wrapper #left-side #user-info-wrapper #sidebar-left img {
  height: 150px;
  width: 150px;
  border-radius: 2px;
  box-shadow: 0px 0px 13px 0px rgba(255, 255, 255, 0.11);
}
/* line 139, ../sass/partials/_base.sass */
#profile-wrapper #left-side #user-info-wrapper #sidebar-right {
  float: right;
  width: 50%;
  position: relative;
  top: 50px;
}
/* line 144, ../sass/partials/_base.sass */
#profile-wrapper #left-side #user-info-wrapper #sidebar-right div {
  margin: 19px 16%;
}
/* line 146, ../sass/partials/_base.sass */
#profile-wrapper #left-side #user-info-wrapper #sidebar-right div:nth-child(1) {
  font-size: 1.5em;
}
/* line 148, ../sass/partials/_base.sass */
#profile-wrapper #left-side #user-wallets-wrapper {
  margin: 0px;
}
/* line 151, ../sass/partials/_base.sass */
#profile-wrapper #left-side #user-wallets-wrapper h4 {
  font-size: 1.3em;
  text-align: center;
}
/* line 154, ../sass/partials/_base.sass */
#profile-wrapper #left-side #user-wallets-wrapper ul {
  text-align: center;
  overflow-y: scroll;
  height: 250px;
  box-shadow: 0px 0px 1px 0px white;
}
/* line 159, ../sass/partials/_base.sass */
#profile-wrapper #left-side #user-wallets-wrapper ul li {
  padding: 10px 0%;
}
/* line 161, ../sass/partials/_base.sass */
#profile-wrapper #left-side #user-wallets-wrapper ul li:hover {
  cursor: pointer;
  background-color: #7C2F2D;
}
/* line 164, ../sass/partials/_base.sass */
#profile-wrapper #right-side {
  position: relative;
  float: right;
  width: 70%;
  clear: left;
  height: 900px;
}

/* line 172, ../sass/partials/_base.sass */
form {
  position: relative;
  top: 282px;
  left: 20%;
}
/* line 176, ../sass/partials/_base.sass */
form input[name="search-bar"] {
  border: 1px solid rgba(0, 0, 0, 0.22);
  border-radius: 1.5px;
  height: 39px;
}
/* line 180, ../sass/partials/_base.sass */
form input[name="search"] {
  background-color: black;
  color: white;
  border: 0px;
  border-radius: 2px;
  padding: 11px 33px;
}
/* line 186, ../sass/partials/_base.sass */
form input[name="search"]:hover {
  cursor: pointer;
  background-color: rgba(138, 18, 27, 0.92);
}
