*
  box-sizing: border-box

.bg
  background: url(../images/home.png) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover