*
  box-sizing: border-box

a
  text-decoration: none
  &:hover
    text-decoration: none
// Home Page
.bg
  background: url(../images/home.png) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  opacity: 0.85

// Home Page Headers
#connect
  #header-wrapper
    position: relative
    top: 182px
    left: 10%
    display: inline-block
    h1
      position: relative
      bottom: 10px
      color: rgb(50, 26, 19)
      font-size: 2.2em
    h2
      @extend h1
      font-size: 1.5em
      text-align: center
      top: 3px
    a
      &[title="Connect"]
        position: relative
        top: 45px
        background-color: rgb(50, 26, 19)
        color: rgb(253, 254, 252)
        padding: 6px 69px
        border-radius: 30px
        font-size: 1.4em
        &:hover
          background-color: rgba(138, 18, 27, 0.92)

// Navbar
#navbar-wrapper
  height: 55px
  width: 100%
  #navbar
    @extend #navbar-wrapper
    background-color: rgba(11, 5, 1, 0.9)
    li
      display: inline-block
      +transition(box-shadow, 0.5s, ease)
      &:hover
        box-shadow: inset 0px -2px 31px 17px rgba(138, 18, 27, 0.92)
        cursor: pointer
      a
        color: rgba(253, 254, 252, 0.91)
    ul#left-nav
      float: left
      width: 60%
      li
        float: left
        margin-left: 10%
        padding: 19.5px 3%
        font-size: 1.03em
    ul#right-nav
      float: right
      width: 40%
      li
        float: right
        margin-right: 13%
        padding: 19.5px 3%
        font-size: 1.03em

span.wallet-name
  position: relative
  display: inline-block
  margin: 10px 0% 2px 0.5%
  background-color: rgb(142, 30, 30)
  padding: 5px 26px
  border-radius: 3px
  &:hover
    background-color: rgba(138, 18, 27, 0.92)
  a
    font-size: 1.03em
    color: rgba(255, 255, 255, 0.93)

// Profile Page
#profile-wrapper
  color: white
  #left-side
    position: fixed
    float: left
    clear: right
    width: 30%
    height: 100%
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.66)
    background-color: rgba(75, 34, 33, 1)
    #sidebar-left
      float: left
      width: 50%
      position: relative
      top: 29px
      left: 8%
      img
        height: 150px
        width: 150px
        border-radius: 2px
        box-shadow: 0px 0px 13px 0px rgba(255, 255, 255, 0.11)
    #sidebar-right
      float: right
      width: 50%
      position: relative
      top: 50px
      div
        margin: 19px 16%
        &:nth-child(1)
          font-size: 1.5em
    #user-wallets
      position: relative
      top: 200px
      h4
        display: inline-block
        position: relative
        bottom: 122px
        right: 10%
        font-size: 1.3em
  #right-side
    position: relative
    float: right
    width: 70%
    clear: left
    height: 900px