<div ng-controller="NavbarController">
  <div id="navbar-wrapper">
    <div id="navbar">
      <ul id="left-nav">
        <li><a href="#/" title="home">MusicWallet</a></li>
        <li><a href="#/who" title="who">Who?</a></li>
        <li><a href="#/search" title="search">Search</a></li>
        <li><a ng-href="#/profile/{{currentUser.id}}" title="profile">Profile</a></li>
      </ul>
      <ul id="right-nav">
        <li><a href="#/login" title="logout" ng-click="logout(currentUser)">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="smartphone-navbar">
      <div id="header"><strong><a href="#/" title="logo">MusicWallet</a></strong></div>
      <div id="hamburger" ng-click="toggleNavbar(); changeHamburger()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
  </div>

    <div id="collapse" hidden>
        <ul>
          <li><a ng-href="#/who" title="who" ng-click="toggleNavbar(); changeHamburger()">Who?</a></li>
          <li><a ng-href="#/search" ng-click="toggleNavbar(); changeHamburger()">Search</a></li>
          <li><a ng-href="#/profile/{{currentUser.id}}" title="profile" ng-click="toggleNavbar(); changeHamburger()">Profile</a></li>
          <li><a ng-href="#/login" ng-click="logout()" ng-click="toggleNavbar(); changeHamburger()">Logout</a></li>
        </ul>
    </div>
</div>