<div ng-controller="NavbarController">
  <div id="navbar-wrapper">
    <div id="navbar">
      <ul id="left-nav">
        <li><a href="#/home/{{currentUser.username}}" title="home">MusicWallet</a></li>
        <li><a href="#/who/{{currentUser.username}}" title="who">Who?</a></li>
        <li><a href="#/search/{{currentUser.username}}" title="search">Search</a></li>
        <li><a ng-href="#/profile/{{currentUser.username}}" title="profile">Profile</a></li>
      </ul>
      <ul id="right-nav">
        <li><a href="#/" title="logout" ng-click="logout(currentUser)">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>