<ng-include src="'templates/navbar.html'"></ng-include>

<div ng-controller="ProfileController">
  <div id="profile-wrapper">
    <div id="left-side">
      <div id="user-info-wrapper">
        <div id="sidebar-left">
          <img src="{{currentUser.image_url}}" alt="Profile Picture">
        </div>
        <div id="sidebar-right">
          <div>{{currentUser.username}}</div>
        </div>
      </div>
      <div id="user-wallets-wrapper">
        <hr>
        <h4>Wallets</h4>
        <hr>
        <ul>
          <li ng-repeat="wallet in currentUser.wallets" ng-click="viewSongs(wallet)">{{wallet.name}}</li>
        </ul>
      </div>
    </div>
    <div id="right-side">
      <h1 style="color: black;">{{wallet.name}}</h1>
      <div ng-repeat="song in walletSongs">
        <iframe width="100%" height="200" style="margin: 10px 0%;" scrolling="no" frameborder="no" src="{{fixUrl(song.url)}}"></iframe>
      </div>
    </div>
  </div>
</div>