<ng-include src="'templates/navbar.html'"></ng-include>

<div ng-controller="SearchController">

  <form name="searchSongForm" ng-submit="searchSongs(params)">
    <input type="text" name="search-bar" size="100" placeholder="Search Songs by Name" ng-model="params.input">
    <input type="submit" name="search" value="Search">
  </form>
  <div ng-repeat="source in trackSources">
    <iframe scrolling="no" frameborder="no" src="{{fixUrl(source)}}"></iframe>
    <form name="walletForm" ng-submit="addToWallet(wallet, source)" novalidate>
      <select ng-model="wallet" ng-options="wallet.name for wallet in currentUser.wallets" required>
        <option value="">Pick Wallet</option>
      </select>
      <input type="submit" name="addWallet" value="Add to Wallet" ng-disabled="walletForm.$invalid">
    </form>
  </div>
  
</div>